In [1]:
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
iris=load_iris()

In [3]:
df = pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [4]:
df['target'] = iris.target

In [5]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [7]:
X=iris.data

In [8]:
y=iris.target

In [9]:
X.shape

(150, 4)

In [10]:
y.shape

(150,)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.33,random_state=1)

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score

Build the Logistic Regression Model

In [14]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
log_acc=accuracy_score(y_pred,y_test)
log_acc

0.98

Build the KNN Model

In [15]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train,y_train)
y_pred1 = knn.predict(X_test)
knn_acc=accuracy_score(y_test,y_pred1)
knn_acc

0.98

Build the Decision Tree Model

In [16]:
dt= DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred2 = dt.predict(X_test)
dt_acc=accuracy_score(y_test,y_pred2)
dt_acc

0.96

Build the Support Vector Machine Model

In [17]:
from sklearn.svm import SVC
svm= SVC()
svm.fit(X_train,y_train)
y_pred3 = svm.predict(X_test)
svm_acc=accuracy_score(y_test,y_pred3)
svm_acc

0.98

Creating a dataframe to store the model names and accuracies

In [18]:
data={'Model':['Logistic Regression','K-Nearest Neighbors','Decision Tree','Support Vector Machine'],
     'Accuracy':[log_acc,knn_acc,dt_acc,svm_acc]}

In [19]:
data1=pd.DataFrame(data)

In [20]:
data1

                    Model  Accuracy
0     Logistic Regression      0.98
1     K-Nearest Neighbors      0.98
2           Decision Tree      0.96
3  Support Vector Machine      0.98