In [1]:
import pandas as pd 
import numpy as np

In [2]:
iris=pd.read_csv("Iris.csv")

In [3]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris = iris.rename({"Species":"Target"}, axis='columns')

In [5]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm       Target
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
iris['Target'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Target, dtype: int64

In [7]:
Target1=  {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2, }
iris['Target'].replace(Target1,inplace=True)

In [8]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Target
0   1            5.1           3.5            1.4           0.2       0
1   2            4.9           3.0            1.4           0.2       0
2   3            4.7           3.2            1.3           0.2       0
3   4            4.6           3.1            1.5           0.2       0
4   5            5.0           3.6            1.4           0.2       0

In [9]:
iris_random = iris.sample(frac=1)
iris_random

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Target
60    61            5.0           2.0            3.5           1.0       1
117  118            7.7           3.8            6.7           2.2       2
135  136            7.7           3.0            6.1           2.3       2
31    32            5.4           3.4            1.5           0.4       0
138  139            6.0           3.0            4.8           1.8       2
..   ...            ...           ...            ...           ...     ...
95    96            5.7           3.0            4.2           1.2       1
19    20            5.1           3.8            1.5           0.3       0
23    24            5.1           3.3            1.7           0.5       0
118  119            7.7           2.6            6.9           2.3       2
37    38            4.9           3.1            1.5           0.1       0

[150 rows x 6 columns]

In [10]:
ratio = 0.20

In [11]:
iris_random = iris.sample(frac=1)
iris_random

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Target
10    11            5.4           3.7            1.5           0.2       0
45    46            4.8           3.0            1.4           0.3       0
26    27            5.0           3.4            1.6           0.4       0
126  127            6.2           2.8            4.8           1.8       2
137  138            6.4           3.1            5.5           1.8       2
..   ...            ...           ...            ...           ...     ...
28    29            5.2           3.4            1.4           0.2       0
74    75            6.4           2.9            4.3           1.3       1
29    30            4.7           3.2            1.6           0.2       0
130  131            7.4           2.8            6.1           1.9       2
48    49            5.3           3.7            1.5           0.2       0

[150 rows x 6 columns]

In [12]:
iris_rows = iris_random.shape[0]
iris_rows

150

In [13]:
iris_split_size = int(iris_rows*(1-ratio))
iris_split_size

120

In [14]:
train = iris_random[:iris_split_size]
train

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Target
10    11            5.4           3.7            1.5           0.2       0
45    46            4.8           3.0            1.4           0.3       0
26    27            5.0           3.4            1.6           0.4       0
126  127            6.2           2.8            4.8           1.8       2
137  138            6.4           3.1            5.5           1.8       2
..   ...            ...           ...            ...           ...     ...
143  144            6.8           3.2            5.9           2.3       2
66    67            5.6           3.0            4.5           1.5       1
18    19            5.7           3.8            1.7           0.3       0
62    63            6.0           2.2            4.0           1.0       1
38    39            4.4           3.0            1.3           0.2       0

[120 rows x 6 columns]

In [15]:
test = iris_random[iris_split_size:]
test

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Target
91    92            6.1           3.0            4.6           1.4       1
115  116            6.4           3.2            5.3           2.3       2
133  134            6.3           2.8            5.1           1.5       2
3      4            4.6           3.1            1.5           0.2       0
121  122            5.6           2.8            4.9           2.0       2
79    80            5.7           2.6            3.5           1.0       1
12    13            4.8           3.0            1.4           0.1       0
108  109            6.7           2.5            5.8           1.8       2
131  132            7.9           3.8            6.4           2.0       2
96    97            5.7           2.9            4.2           1.3       1
50    51            7.0           3.2            4.7           1.4       1
144  145            6.7           3.3            5.7           2.5       2
21    22            5.1           3.7            1.5           0.4       0
47    48            4.6           3.2            1.4           0.2       0
123  124            6.3           2.7            4.9           1.8       2
60    61            5.0           2.0            3.5           1.0       1
85    86            6.0           3.4            4.5           1.6       1
63    64            6.1           2.9            4.7           1.4       1
41    42            4.5           2.3            1.3           0.3       0
17    18            5.1           3.5            1.4           0.3       0
59    60            5.2           2.7            3.9           1.4       1
61    62            5.9           3.0            4.2           1.5       1
0      1            5.1           3.5            1.4           0.2       0
69    70            5.6           2.5            3.9           1.1       1
35    36            5.0           3.2            1.2           0.2       0
28    29            5.2           3.4            1.4           0.2       0
74    75            6.4           2.9            4.3           1.3       1
29    30            4.7           3.2            1.6           0.2       0
130  131            7.4           2.8            6.1           1.9       2
48    49            5.3           3.7            1.5           0.2       0

In [16]:
X_train = train[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm" ]]
X_test = test[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm" ]]

In [17]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
10             5.4           3.7            1.5           0.2
45             4.8           3.0            1.4           0.3
26             5.0           3.4            1.6           0.4
126            6.2           2.8            4.8           1.8
137            6.4           3.1            5.5           1.8
..             ...           ...            ...           ...
143            6.8           3.2            5.9           2.3
66             5.6           3.0            4.5           1.5
18             5.7           3.8            1.7           0.3
62             6.0           2.2            4.0           1.0
38             4.4           3.0            1.3           0.2

[120 rows x 4 columns]

In [18]:
X_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
91             6.1           3.0            4.6           1.4
115            6.4           3.2            5.3           2.3
133            6.3           2.8            5.1           1.5
3              4.6           3.1            1.5           0.2
121            5.6           2.8            4.9           2.0
79             5.7           2.6            3.5           1.0
12             4.8           3.0            1.4           0.1
108            6.7           2.5            5.8           1.8
131            7.9           3.8            6.4           2.0
96             5.7           2.9            4.2           1.3
50             7.0           3.2            4.7           1.4
144            6.7           3.3            5.7           2.5
21             5.1           3.7            1.5           0.4
47             4.6           3.2            1.4           0.2
123            6.3           2.7            4.9           1.8
60             5.0           2.0            3.5           1.0
85             6.0           3.4            4.5           1.6
63             6.1           2.9            4.7           1.4
41             4.5           2.3            1.3           0.3
17             5.1           3.5            1.4           0.3
59             5.2           2.7            3.9           1.4
61             5.9           3.0            4.2           1.5
0              5.1           3.5            1.4           0.2
69             5.6           2.5            3.9           1.1
35             5.0           3.2            1.2           0.2
28             5.2           3.4            1.4           0.2
74             6.4           2.9            4.3           1.3
29             4.7           3.2            1.6           0.2
130            7.4           2.8            6.1           1.9
48             5.3           3.7            1.5           0.2

In [19]:
y_train = train['Target']
y_test = test['Target']

In [20]:
y_train.shape

(120,)

In [21]:
Y_train = pd.DataFrame(y_train)
Y_train

     Target
10        0
45        0
26        0
126       2
137       2
..      ...
143       2
66        1
18        0
62        1
38        0

[120 rows x 1 columns]

In [22]:
x_train = X_train.to_numpy()
x_test = X_test.to_numpy()
y_train = y_train.values
y_test = y_test.values

In [23]:
x_train

array([[5.4, 3.7, 1.5, 0.2],
       [4.8, 3. , 1.4, 0.3],
       [5. , 3.4, 1.6, 0.4],
       [6.2, 2.8, 4.8, 1.8],
       [6.4, 3.1, 5.5, 1.8],
       [5.8, 2.7, 3.9, 1.2],
       [5.8, 2.7, 5.1, 1.9],
       [6.3, 2.5, 5. , 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.5, 4.2, 1.4, 0.2],
       [5.5, 2.5, 4. , 1.3],
       [5. , 3.4, 1.5, 0.2],
       [5. , 2.3, 3.3, 1. ],
       [7.2, 3.6, 6.1, 2.5],
       [7.1, 3. , 5.9, 2.1],
       [6.7, 3. , 5.2, 2.3],
       [5.1, 3.8, 1.6, 0.2],
       [6.4, 3.2, 4.5, 1.5],
       [6.1, 2.8, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [7.7, 2.8, 6.7, 2. ],
       [4.3, 3. , 1.1, 0.1],
       [5.5, 2.6, 4.4, 1.2],
       [5.8, 2.6, 4. , 1.2],
       [6.7, 3. , 5. , 1.7],
       [5.1, 2.5, 3. , 1.1],
       [6.3, 2.5, 4.9, 1.5],
       [6. , 2.2, 5. , 1.5],
       [5.5, 2.3, 4. , 1.3],
       [5.8, 2.7, 4.1, 1. ],
       [5. , 3. , 1.6, 0.2],
       [4.9, 2.4, 3.3, 1. ],
       [5.1, 3.3, 1.7, 0.5],
       [5.7, 2.5, 5. , 2. ],
       [5.4, 3.9, 1.7, 0.4],
       [4.9, 3.1, 1.5, 0.1],
       [5.8, 2.7, 5.1, 1.9],
       [5.6, 3. , 4.1, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [4.8, 3.4, 1.6, 0.2],
       [5.7, 3. , 4.2, 1.2],
       [5. , 3.6, 1.4, 0.2],
       [5.7, 2.8, 4.1, 1.3],
       [6.9, 3.2, 5.7, 2.3],
       [7.2, 3. , 5.8, 1.6],
       [6.2, 2.2, 4.5, 1.5],
       [4.8, 3.1, 1.6, 0.2],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [6.3, 2.3, 4.4, 1.3],
       [5.7, 4.4, 1.5, 0.4],
       [6.5, 3. , 5.5, 1.8],
       [6.5, 3.2, 5.1, 2. ],
       [5.6, 2.9, 3.6, 1.3],
       [5.5, 2.4, 3.7, 1. ],
       [6. , 2.9, 4.5, 1.5],
       [5. , 3.3, 1.4, 0.2],
       [7.3, 2.9, 6.3, 1.8],
       [5.2, 4.1, 1.5, 0.1],
       [4.9, 2.5, 4.5, 1.7],
       [4.4, 3.2, 1.3, 0.2],
       [6.6, 3. , 4.4, 1.4],
       [6.4, 2.8, 5.6, 2.1],
       [5.1, 3.8, 1.9, 0.4],
       [6.3, 3.4, 5.6, 2.4],
       [5.4, 3.4, 1.7, 0.2],
       [6.3, 3.3, 6. , 2.5],
       [6.3, 3.3, 4.7, 1.6],
       [6.1, 3. , 4.9, 1.8],
       [6.7, 3.1, 4.7, 1.5],
       [5.4, 3.4, 1.5, 0.4],
       [4.7, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.4, 1.5, 0.2],
       [6.5, 3. , 5.8, 2.2],
       [6.9, 3.1, 5.1, 2.3],
       [6.7, 3.1, 4.4, 1.4],
       [7.6, 3. , 6.6, 2.1],
       [6.4, 2.7, 5.3, 1.9],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [6. , 3. , 4.8, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [6.7, 3.3, 5.7, 2.1],
       [4.6, 3.4, 1.4, 0.3],
       [7.7, 2.6, 6.9, 2.3],
       [4.4, 2.9, 1.4, 0.2],
       [6.2, 3.4, 5.4, 2.3],
       [5.4, 3. , 4.5, 1.5],
       [5.8, 4. , 1.2, 0.2],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 2.8, 5.6, 2.2],
       [4.9, 3. , 1.4, 0.2],
       [6.8, 2.8, 4.8, 1.4],
       [6.6, 2.9, 4.6, 1.3],
       [6.9, 3.1, 5.4, 2.1],
       [5.1, 3.8, 1.5, 0.3],
       [5.2, 3.5, 1.5, 0.2],
       [6.1, 2.6, 5.6, 1.4],
       [5.9, 3.2, 4.8, 1.8],
       [6.9, 3.1, 4.9, 1.5],
       [4.9, 3.1, 1.5, 0.1],
       [7.2, 3.2, 6. , 1.8],
       [5.9, 3. , 5.1, 1.8],
       [5.7, 2.8, 4.5, 1.3],
       [4.6, 3.6, 1. , 0.2],
       [5.4, 3.9, 1.3, 0.4],
       [6.1, 2.8, 4.7, 1.2],
       [5.6, 2.7, 4.2, 1.3],
       [6.3, 2.9, 5.6, 1.8],
       [6.7, 3.1, 5.6, 2.4],
       [6.5, 3. , 5.2, 2. ],
       [7.7, 3. , 6.1, 2.3],
       [6. , 2.7, 5.1, 1.6],
       [5.5, 2.4, 3.8, 1.1],
       [6.8, 3.2, 5.9, 2.3],
       [5.6, 3. , 4.5, 1.5],
       [5.7, 3.8, 1.7, 0.3],
       [6. , 2.2, 4. , 1. ],
       [4.4, 3. , 1.3, 0.2]])

In [24]:
y_test

array([1, 2, 2, 0, 2, 1, 0, 2, 2, 1, 1, 2, 0, 0, 2, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 2, 0], dtype=int64)

# DECISION TREE

In [25]:
class Node:
    def __init__(self, feature_index=None, threshold=None, left=None, right=None, value=None, info_gain=None):
        self.feature_index = feature_index
        self.threshold = threshold
        self.left = left
        self.right = right
        self.value = value
        self.info_gain = info_gain

class DecisionMyClassifier():
    def __init__(self, min_samples_split=2, max_depth=3):
        ''' constructor '''
        
        # initialize the root of the tree 
        self.root = None
        
        # stopping conditions
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        
    def build_tree(self, dataset, curr_depth=0):
        ##recursive function to build the tree 
        
        X, Y = dataset[:, :-1], dataset[:, -1]
        num_samples, num_features = np.shape(X)
        
        # split until stopping conditions are met
        if num_samples >= self.min_samples_split and curr_depth <= self.max_depth:
            # find the best split
            best_split = self.get_best_split(dataset, num_samples, num_features)  ## best_split is a dict
            # check if information gain is positive
            if best_split["info_gain"] > 0:
                # recur left
                left_subtree = self.build_tree(best_split["dataset_left"], curr_depth + 1)
                # recur right
                right_subtree = self.build_tree(best_split["dataset_right"], curr_depth + 1)
                # return decision node
                return Node(best_split["feature_index"], best_split["threshold"], 
                            left_subtree, right_subtree, None, best_split["info_gain"])
        
        # compute leaf node
        leaf_value = self.calculate_leaf_value(Y)
        # return leaf node
        return Node(value=leaf_value)
    
    def get_best_split(self, dataset, num_samples, num_features):
        ''' function to find the best split '''
        
        # dictionary to store the best split
        best_split = {}
        max_info_gain = -float("inf")  # initialize with negative infinity
        
        # loop over all the features
        for feature_index in range(num_features):
            feature_values = dataset[:, feature_index]
            possible_thresholds = np.unique(feature_values)
            # loop over all the feature values present in the data
            for threshold in possible_thresholds:
                # get current split
                dataset_left, dataset_right = self.split(dataset, feature_index, threshold)
                # check if children are not null
                if len(dataset_left) > 0 and len(dataset_right) > 0:
                    y, left_y, right_y = dataset[:, -1], dataset_left[:, -1], dataset_right[:, -1]
                    # compute information gain
                    curr_info_gain = self.information_gain(y, left_y, right_y)
                    # update the best split if needed
                    if curr_info_gain > max_info_gain:
                        best_split["feature_index"] = feature_index
                        best_split["threshold"] = threshold
                        best_split["dataset_left"] = dataset_left
                        best_split["dataset_right"] = dataset_right
                        best_split["info_gain"] = curr_info_gain
                        max_info_gain = curr_info_gain
                        
        # return best split
        return best_split
    
    def split(self, dataset, feature_index, threshold):
        ''' function to split the data '''
        
        dataset_left = np.array([row for row in dataset if row[feature_index] <= threshold])
        dataset_right = np.array([row for row in dataset if row[feature_index] > threshold])
        return dataset_left, dataset_right
    
    def information_gain(self, parent, l_child, r_child):
        ''' function to compute information gain '''
        
        weight_l = len(l_child) / len(parent)
        weight_r = len(r_child) / len(parent)
        gain = self.gini_index(parent) - (weight_l * self.gini_index(l_child) + weight_r * self.gini_index(r_child))
        return gain
    
    def gini_index(self, y):
        ''' function to compute gini index '''
        
        class_labels = np.unique(y)
        gini = 0
        for cls in class_labels:
            p_cls = len(y[y == cls]) / len(y)
            gini += p_cls**2
        return 1 - gini
    
    def calculate_leaf_value(self, Y):
        ''' function to compute leaf node '''
        
        Y = list(Y)
        return max(Y, key=Y.count)
    
    def print_tree(self, tree=None, indent=" "):
        ''' function to print the tree '''
        
        if not tree:
            tree = self.root

        if tree.value is not None:
            print(tree.value)

        else:
            print("X_" + str(tree.feature_index), "<=", tree.threshold, "?", tree.info_gain)
            print("%sleft:" % (indent), end="")
            self.print_tree(tree.left, indent + indent)
            print("%sright:" % (indent), end="")
            self.print_tree(tree.right, indent + indent)
    
    def fit(self, X, Y):
        ''' function to train the tree '''
        
        dataset = np.concatenate((X, Y.reshape(-1, 1)), axis=1)
        self.root = self.build_tree(dataset)
        
    def predict(self, X):
        ''' function to predict new dataset '''
        
        predictions = [self.make_prediction(x, self.root) for x in X]
        return predictions
    
    def make_prediction(self, x, tree):
        ''' function to predict a single data point '''
        
        if tree.value is not None:
            return tree.value
        
        feature_val = x[tree.feature_index]
        if feature_val <= tree.threshold:
            return self.make_prediction(x, tree.left)
        else:
            return self.make_prediction(x, tree.right)

In [26]:
classifier = DecisionMyClassifier(min_samples_split=3, max_depth=3)
classifier.fit(x_train, y_train)
classifier.print_tree()

X_2 <= 1.9 ? 0.32921296296296293
 left:0.0
 right:X_3 <= 1.7 ? 0.38589668219297857
  left:X_2 <= 5.1 ? 0.08185941043083882
    left:X_0 <= 4.9 ? 0.021315789473684454
        left:1.0
        right:1.0
    right:2.0
  right:X_2 <= 4.8 ? 0.01577909270216958
    left:X_0 <= 5.9 ? 0.4444444444444444
        left:1.0
        right:2.0
    right:2.0

In [27]:
def accuracy_score(y_true, y_pred):
    correct_predictions = np.sum(y_true == y_pred)
    total_samples = len(y_true)
    accuracy = correct_predictions / total_samples
    return accuracy

# Assuming 'x_test' contains the test features and 'y_test' contains the true labels for the test set
predictions = classifier.predict(x_test)

# Assuming 'y_test' contains the true labels for the test set
accuracy = accuracy_score(y_test, predictions)
print("Test Accuracy:", accuracy)

Test Accuracy: 0.9666666666666667

# SUPPORT VECTOR MACHINE

In [46]:
class SVM_classifier():


  # initiating the hyperparameters
  def __init__(self, learning_rate, no_of_iterations, lambda_parameter):

    self.learning_rate = learning_rate
    self.no_of_iterations = no_of_iterations
    self.lambda_parameter = lambda_parameter


  
  # fitting the dataset to SVM Classifier
  def fit(self, X, Y):

    # m  --> number of Data points --> number of rows
    # n  --> number of input features --> number of columns
    self.m, self.n = X.shape

    # initiating the weight value and bias value

    self.w = np.zeros(self.n)

    self.b = 0

    self.X = X

    self.Y = Y

    # implementing Gradient Descent algorithm for Optimization

    for i in range(self.no_of_iterations):
      self.update_weights()



  # function for updating the weight and bias value
  def update_weights(self):

    # label encoding
    y_label = np.where(self.Y <= 0, -1, 1)



    # gradients ( dw, db)
    for index, x_i in enumerate(self.X):

      condition = y_label[index] * (np.dot(x_i, self.w) - self.b) >= 1

      if (condition == True):

        dw = 2 * self.lambda_parameter * self.w
        db = 0

      else:

        dw = 2 * self.lambda_parameter * self.w - np.dot(x_i, y_label[index])
        db = y_label[index]


      self.w = self.w - self.learning_rate * dw

      self.b = self.b - self.learning_rate * db



  # predict the label for a given input value
  def predict(self, X):

    output = np.dot(X, self.w) - self.b
    
    predicted_labels = np.sign(output)

    y_hat = np.where(predicted_labels <= -1, 0, 1)

    return y_hat

In [47]:
classifier = SVM_classifier(learning_rate=0.001, no_of_iterations=1000, lambda_parameter=0.01)

In [48]:
classifier.fit(x_train, y_train)

In [49]:
def accuracy_score(y_true, y_pred):
    correct_predictions = np.sum(y_true == y_pred)
    total_samples = len(y_true)
    accuracy = correct_predictions / total_samples
    return accuracy

# Assuming 'x_test' contains the test features and 'y_test' contains the true labels for the test set
predictions = classifier.predict(x_test)

# Assuming 'y_test' contains the true labels for the test set
accuracy = accuracy_score(y_test, predictions)
print("Test Accuracy:", accuracy)

Test Accuracy: 0.7333333333333333